# Gradle
.gradle/
/build/
**/build/
/local.properties
/.idea/
*.iml
/captures/
.externalNativeBuild/
.cxx/

# Android Studio
.idea/**/workspace.xml
.idea/**/libraries
.idea/**/gradle.xml
.idea/**/assetWizardSettings.xml
.idea/**/deploymentTargetDropDown.xml

# Misc
.DS_Store